

spring:
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  datasource:
    url: jdbc:postgresql://${PROD_DB_HOST}:${PROD_DB_PORT}/${PROD_DB_NAME}
    username: ${PROD_DB_USERNAME}
    password: ${PROD_DB_PASSWORD}
#    url: jdbc:postgresql://localhost:5432/mediahosting
#    username: postgres
#    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always

aws:
  s3:
    accessKey: ${AWS_S3_ACCESSKEY}
    secretKey: ${AWS_S3_SECRETKEY}
    cdnLink: ${AWS_CDN}

    # DELETE BEFORE PUSH TO REPO
#    accessKey:
#    secretKey:
#    cdnLink:

jwt:
  secretKey: ${JWT_SECRETKEY}
#  secretKey:
  accessTokenCookieName: mh-jwt-access
  accessTokenExpirationMs: 600000
#  accessTokenExpirationMs: 60000
  refreshTokenCookieName: mh-jwt-refresh
  refreshTokenExpirationMs: 3600000
#  refreshTokenExpirationMs: 120000
server:
  port: ${PORT:8080}