spring:
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  datasource:
    url: jdbc:postgresql://localhost:5432/mediahosting
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

aws:
  s3:
    accessKey: ""
    secretKey: ""

jwt:
  secretKey: 51655468576D5A7134743677397A24432646294A404E635266556A586E327235
  accessTokenCookieName: mh-jwt-access
  accessTokenExpirationMs: 300000
  refreshTokenCookieName: mh-jwt-refresh
  refreshTokenExpirationMs: 1800000