#root>div {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  /* padding-top: 10vh; */
}

.login-form,
.signup-form {
  max-width: 350px;
  margin: auto;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

header {
  /* min-height: 10dvh; */
  max-height: 250px;
  background-color: #00000070;
  z-index: 10;
  position: sticky;
  width: 100%;
  top: 0;
  transition: background-color .4s ease-in-out;
}

header.scrolled {
  background-color: #000000d1;
}

header,
nav {
  height: -webkit-fit-content;
}

/* nav {
  height: -webkit-fill-available;
} */

a.navbar-brand {
  font-weight: 900;
}

main {
  flex-grow: 1;
  min-height: 85vh;
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 5dvh;
  background-color: #00000030;
  color: rgb(100, 100, 100);
  font-size: smaller;
}

.copyright-name {
  color: rgb(130, 130, 130);
}

.no-photos-text {
  color: rgb(150, 150, 150);
}

#root {
  min-height: 100dvh;
  background-image: linear-gradient(16deg, #28287a 5%, #7272c2 90%);
}

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --yellow: rgb(255, 214, 0);
  --orange: rgb(232, 161, 60);
  --red: rgb(255, 52, 52);
  --blue: rgb(0, 56, 168);
  --green: rgb(0, 255, 0);
  --light-blue: #5ac4f9;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.homepage {
  min-height: inherit;
}

.homepage a {
  text-decoration: none;
}

.magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right,
      var(--yellow),
      var(--blue),
      var(--yellow));
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

/* .form-group {
  display: flex;
  justify-content: center;
} */

.form-card {
  width: 400px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 30px black;
  border-radius: 5px;
}

.form-group {
  position: relative;
}

.form-group input {
  border: none;
  width: 100%;
  border-bottom: 1px solid white;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  outline: none;
  border-radius: 0%;
  box-shadow: none;
}

.form-group input:focus {

  border-bottom: 1px solid #5ac4f9;
  /* font-size: 17px; */
  /* font-weight: bold; */
  color: white;
  background-color: inherit;
  box-shadow: none;
}

.form-group .invalid-feedback {
  position: absolute;
  top: 45px;
  left: 0;
}

::placeholder {
  color: rgb(209, 209, 209);
}

.form-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  pointer-events: none;
  transition: .5s;
}

.profile-card .form-group label {
  color: #5ac4f9;
}

.form-group input:focus~label,
.form-group input:valid~label,
.form-group.not-required.filled label,
.form-group.not-required.unfilled input:focus~label {
  top: -25px;
  left: 0;
  font-size: 12px;
  color: #5ac4f9;
}

.form-group.not-required.unfilled label {
  top: 0;
  left: 0;
  font-size: 16px;
  transition: .5s;
  padding: 10px 0;
}

.form-group input.is-invalid {
  border-color: red;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-group input.is-invalid:focus {
  box-shadow: none;
}

.submit-btn {
  position: relative;
  display: block;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  color: #5ac4f9;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  font-weight: bold;
  min-width: fit-content;
  margin-right: 2rem;
}

.homepage .submit-btn {
  color: var(--yellow);
}

.reg-btn-and-err {
  height: 4rem;
}

.submit-btn:hover {
  background-color: #5ac4f9;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #5ac4f9,
    0 0 25px #5ac4f9,
    0 0 50px #5ac4f9,
    0 0 100px #5ac4f9;
}

.homepage .submit-btn:hover {
  background-color: var(--yellow);
  box-shadow: 0 0 5px var(--yellow),
    0 0 25px var(--yellow),
    0 0 50px var(--yellow),
    0 0 100px var(--yellow);
  ;
}

.submit-btn span {
  display: block;
  position: absolute;
}

.submit-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #5ac4f9);
  animation: btn-anim1 1s linear infinite;
}

.homepage .submit-btn span:nth-child(1) {
  background: linear-gradient(90deg, transparent, var(--yellow));
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.submit-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #5ac4f9);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

.homepage .submit-btn span:nth-child(2) {
  background: linear-gradient(180deg, transparent, var(--yellow));
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.submit-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, #5ac4f9);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s;
}

.homepage .submit-btn span:nth-child(3) {
  background: linear-gradient(270deg, transparent, var(--yellow));
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.submit-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #5ac4f9);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

.homepage .submit-btn span:nth-child(4) {
  background: linear-gradient(360deg, transparent, var(--yellow));
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.pagination {
  justify-content: center;
}

.active>.page-link {
  background-color: #9598ee;
  border-color: #9598ee;
}

.form-card .error-response {
  color: red;
  text-transform: uppercase;
  max-width: 50%;
}

.form-card .success-registration {
  color: rgb(0, 200, 0);
  text-transform: uppercase;
}

.registration-string {
  color: gray;
  font-size: small;
}

.registration-string a {
  color: var(--light-blue);
}

.checkBox {
  display: flex;
  justify-content: center;
  margin: 16px !important;
}

#checkbox {
  margin-right: 10px;
  height: 15px;
  width: 15px;
}

.text {
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.btn2 {
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  background-color: #ffc107;
  border-style: none;
  color: black;
  font-weight: 600;
}

.btn2:hover {
  background-color: rgba(10, 136, 43, 0.5);
}

.btn button:hover {
  border-bottom: 2px solid rgb(91, 243, 131);
}

.page-link.active {
  font-weight: bold;
  text-decoration: underline;
}

.full-size-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.react-google-photo-arrow-button-return {
  top: 10vh;
  top: 10dvh;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}

.react-photo-album {
  padding-bottom: 3rem;
}

.react-photo-album--photo {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  ;
}

.navbox {
  /* width: 340px; */
  /* padding: 0 16px; */
  display: flex;
  /* border: 1px solid white;
  border-radius: 16px; */
}

.navbar-collapse {
  flex-grow: 0;
}

.iconDiv {
  height: 36px;
  width: 36px;
  margin: 0 5px;
  border-radius: 8px;
  display: inline-flex;
  display: -webkit-inline-box;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition: width 300ms ease-in-out 0s, background-color 300ms linear 200ms;
  color: white;
  padding: 0 5px;
}

.iconDiv.delete .iconSVG {
  width: 28px;
}

@media screen and (max-width: 767px) {
  .iconDiv {
    width: auto;
    width: fit-content;
    overflow: visible;
    padding: 0 10px;
  }

  .iconDiv:hover {
    width: auto;
    width: initial !important;
  }

  .divider {
    display: none;
  }

  .form-card {
    width: 300px;
  }
}

.iconSVG {
  height: 30px;
  width: 30px;
  top: 2px;
  aspect-ratio: 1 / 1;

  @supports not (aspect-ratio: 1 / 1) {

    &::before {
      float: left;
      padding-top: 100%;
      content: "";
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

.iconDiv.nav-item:hover {
  background-color: rgb(81, 73, 117);
  transition: width 300ms ease-in-out 0s, background-color 100ms linear 200ms;
  width: 110px;
}

.iconDiv::after,
.iconSVG {
  position: relative;
}

.iconDiv:nth-child(1):hover,
.iconDiv:nth-child(1):focus-visible {
  width: 120px;
}

.iconDiv:nth-child(2):hover,
.iconDiv:nth-child(5):hover,
.iconDiv:nth-child(2):focus-visible,
.iconDiv:nth-child(5):focus-visible {
  width: 110px;
}

.iconDiv:nth-child(3):hover,
.iconDiv:nth-child(3):focus-visible {
  width: 120px;
}

.iconDiv:nth-child(4):hover,
.iconDiv:nth-child(4):focus-visible {
  width: 100px;
}

.iconDiv.nav-item.add-album:hover {
  width: 135px;
}

.iconDiv:hover,
.iconDiv:focus-visible {
  background-color: rgb(81, 73, 117);
  transition: width 300ms ease-in-out 0s, background-color 100ms linear 200ms;
}

.iconDiv:focus-visible {
  outline: 1px solid rgb(81, 73, 117);
  outline-offset: 4px;
}

.iconDiv:active {
  opacity: 0.9;
}

.iconDiv::after {
  content: attr(tooltip);
  margin-left: 12px;
  animation: fadeIn 600ms linear forwards;
  top: 5px;
}

.divider {
  height: 36px;
  width: .5px;
  margin: 0 10px;
  /* margin: 24px 18px; */
  background-color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn-homepage {
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-homepage:hover,
.btn-homepage:focus-visible {
  transform: scale(1.2);
  font-weight: 600;
  color: dodgerblue;
}

.btn-homepage:active {
  transform: scale(0.9);
  font-weight: 600;
  color: dodgerblue;
}

.dropzone {
  border-radius: 20px;
  border: 2px dashed #9598ee;
  background-color: #7b7ec6;
  margin: 1.5rem 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.dropzone.disabled {
  background-color: #8183a8;
  color: rgb(67, 67, 67);
}

.dropzone p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.dropzone em {
  font-size: smaller;
}

.upload-icon {
  width: 20px;
}

.dropzone-btn {
  display: none;
}

.progress.progress-bar {
  border-radius: 0;
  position: absolute;
  bottom: 0;
}

.photo-image {
  width: 100%;
  height: auto;
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: opacity 0.3s ease;
}

.photo-overlay.selected {
  opacity: 1;
}

.photo-item:hover .photo-overlay {
  opacity: 1;
}

.select-icon {
  width: 24px;
  height: 24px;
  margin: 2%;
  filter: opacity(0.5);
  transition: filter 0.2s ease;
}

.select-icon:hover {
  filter: opacity(0.7);
}

.select-icon.selected {
  fill: var(--bs-blue);
  filter: opacity(1);
  stroke: white;
}

.notification {
  overflow: hidden;
  position: fixed;
  top: -100px;
  left: calc(50% - 100px);
  background-color: var(--yellow);
  color: black;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease, top 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
}

.notification.green {
  background-color: rgb(0, 176, 0);
  color: white;
}

.notification.visible {
  top: 10px;
  opacity: 1;
  z-index: 2000;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar-container {
  background-color: #00000070;
  border-radius: 10px;
  padding: 4px 10px;
  /* transition: width 0.3s ease-in-out; */
  position: fixed;
  right: 0;
  top: 40%;
  /* transition: width 0.3s ease; */
  -webkit-animation: fadeInItem 0.6s both;
  animation: fadeInItem 0.6s both;
  opacity: 0;
  z-index: 2;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-listItem {
  display: flex;
  align-items: center;
  -webkit-animation: fadeInItem 0.6s forwards;
  animation: fadeInItem 0.6s forwards;
  transition: background 0.2s ease-in;
  transform: translatex(-16px);
  opacity: 0;
  padding: 8px 0;
  position: relative;
}

.sidebar-listItem span {
  visibility: hidden;
}

.sidebar-listItem button {
  background-color: #495794;
  border: none;
}

.sidebar-listItem button:hover {
  background-color: #596ab4;
}

.sidebar-listItem:hover .sidebar-listItemText {
  display: inline-block;
  opacity: 1;
  left: calc(100% + 8px);
  visibility: visible;
}

.sidebar-listItem+li {
  border-top: 1px solid #f9f8fb30;
}

.sidebar-listItem button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-listIcon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 0;
  flex-shrink: 0;
}

.sidebar-listItemText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  position: absolute;
  padding: 8px;
  left: 100%;
  opacity: 0;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sidebar-listItem:nth-child(n+1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sidebar-listItem:nth-child(n+2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sidebar-listItem:nth-child(n+3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}


@-webkit-keyframes fadeInItem {
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

@keyframes fadeInItem {
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}

.profile-container {
  width: 350px;
  height: 500px;
  perspective: 800px;
}

.profile-container.flipped .profile-card{
  transform: rotateY(180deg);
}

.profile-container.unflipped .profile-card{
  transform: rotateY(0deg);
}

.profile-card {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 500ms;
  transform-style: preserve-3d;
  color: white;
  background-color: #00000070;
  box-shadow: 0 0 5px 2px rgb(50, 50, 50, .25);
}

.profile-card .front,
.profile-card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-card .back {
  transform: rotateY(180deg);
}

.profile-card .back svg {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  transition: all 500ms;
  color: #5ac4f9;
  box-shadow: 0 0 5px 2px #5ac4f9;
  border-radius: 50%;
  width: 35px;
  cursor: pointer;
}

.profile-card .back svg:hover {
  transform: rotate(360deg);
}

.profile-img {
  width: 100px;
  height: 100px;
  background-color: #ffffff70;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.profile-img img {
  width: 100%;
}

.profile-container button {
  width: 100%;
}

.share-modal .modal-content {
  width: fit-content;
  max-width: 80vw;
}

.share-modal .modal-content p {
  word-wrap: break-word;
}

.create-new-album-input .form-control:focus {
  box-shadow: none;
}

.album-li {
  font-weight: 600;
}

.album-li span {
  float: right;
  font-size: 90%;
  color: dimgray;
  font-weight: 300;
}

body::-webkit-scrollbar {
  display: none;
}

.albums {
  display: grid;
  width: 100%;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  justify-items: stretch;
  margin-top: 3rem;
}

.albums-item {
  margin-left: 0;
  margin-right: 0;
  max-height: 500px;
  aspect-ratio: 16/9;

  @supports not (aspect-ratio: 16/9) {
    &::before {
      float: left;
      padding-top: 56.25%;
      content: "";
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }

  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.albums-item.empty {
  background-color: #bebebe;
}

.albums-item.empty::before {
  content: "No image available";
  color: black;
  text-decoration: none;
  position: relative;
  top: 45%;
  left: 40%;
  display: inline-block;
  transform: rotate(335deg);
  font-size: larger;
}

.albums-item img {
  width: 100%;
  transition: transform ease-in-out .2s;
  ;
}

.albums-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity ease-in-out .2s;
  ;
}

.albums-item:hover::after {
  opacity: 1;
}

.album-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.albums-item:hover .album-info {
  opacity: 1;
}

.album-container {
  margin: 2rem auto;
  padding: 2rem 4rem 2rem 4rem;
  color: white;
  background-color: #00000070;
  border-radius: 8px;
  position: relative;
}

.album-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin: 2rem 4rem;
  border-radius: 50%;
  overflow: clip;
  background-image: linear-gradient(to top, #b30000 0%, #f00 80%, #f70000 100%);
  box-shadow: 0 1px 3px 1px #fa0000, 0 1px 8px #da0202, 0 -1px 1px #d00404, 0 -1px 4px #f70000, inset 0 0 2px 0 #ff0000;
}

.album-container:hover .album-overlay {
  opacity: 1;
}

.album-overlay svg {
  width: inherit;
  padding: .5rem;
}

.album-spinner {
  width: 2rem;
  height: 2rem;
  margin: .5rem;
}

.album-overlay:hover {
  box-shadow: 0 1px 3px 1px #fa0000, 0 1px 8px #da0202, 0 -1px 1px #d00404, 0 -1px 4px #f70000, inset 0 0 2px 3px #eb0101;
}