body {
  box-sizing: border-box;
  margin: 0;
  padding: 0 4em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: silver;
  background-blend-mode: lighten;
}

body,
#root {
  height: 100vh;
}


